
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: #bc885d;
}

a {
  color: #0077cc;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #bc885d;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}
