
a.navbar-brand[b-9q8ibpt6yd] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: #bc885d;
}

a[b-9q8ibpt6yd] {
  color: #0077cc;
}

.nav-pills .nav-link.active[b-9q8ibpt6yd], .nav-pills .show > .nav-link[b-9q8ibpt6yd] {
  color: #bc885d;
}

.border-top[b-9q8ibpt6yd] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-9q8ibpt6yd] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-9q8ibpt6yd] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-9q8ibpt6yd] {
  font-size: 1rem;
  line-height: inherit;
}
