/* _content/Project/Views/Shared/_Layout.cshtml.rz.scp.css */

a.navbar-brand[b-r07nuq4tb0] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-r07nuq4tb0] {
  color: #0077cc;
}

.nav-pills .nav-link.active[b-r07nuq4tb0], .nav-pills .show > .nav-link[b-r07nuq4tb0] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-r07nuq4tb0] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-r07nuq4tb0] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-r07nuq4tb0] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-r07nuq4tb0] {
  font-size: 1rem;
  line-height: inherit;
}
