@{
    ViewBag.Title = "Login sem exito";
}

<section class="energy-section-login">
    <h2>Dados inválidos!</h2>
    <p>Realize seu cadastro ou insira os dados corretamente.</p>

    <div>
        <a asp-action="Criar" asp-controller="Usuario" class="btn btn-primary">Realize seu cadastro</a>
        <a asp-action="Logar" asp-controller="Login" class="btn btn-secondary">Login</a>
    </div>

</section>