@{
    ViewBag.Title = "Cadastro de Usuário - Sucesso";
}

<section class="section-login">
    <div>
        <h2 style="color: #9B4819">Cadastro realizado com sucesso!</h2>
        <p style="color: #bc885d; max-width: 30%;">O usuário foi cadastrado com sucesso. Faça o Login e aproveita as oportunidades e ações que criamos especialmente para você.</p>

        <div>
            <a asp-action="Logar" asp-controller="Login" class="btn class="btn" style="background-color: #9B4819; color: #fdf5e6;">Realize o login</a>
        </div>
    </div>
 
</section>
