@{
    ViewBag.Title = "Atualização dos dados - Sucesso";
}

<section class="energy-section p-5" style="min-height: 80vh;">

    <h2>Seus dados foram excluidos da nossa base!</h2>
    <p>Para voltar e conferir nossa solução, você precisa se cadastrar e realizar o login novamente</p>

    <p>Te vemos logo, abraços!</p>

    <div>
        <a asp-controller="Usuario" asp-action="Criar"  class="btn" style="background-color: #9B4819; color: #fdf5e6;">Realize o cadastro</a>
        <a asp-controller="Home" asp-action="Hero" class="btn" style="background-color: #bc885d; color: #fdf5e6;">Home</a>
    </div>
</section>